@{
    ViewBag.Title = "Login";
}

    <main class="container_main">
        <div class="G1_Left_Login">
            <div class="G1_banner">
                <img src={Logo} alt="Logo" class="logo" />
                <img src={bannerLogin} class="G1_bannerLogin" alt="" />
            </div>
        </div>
        <div class="G1_Right_Login">
            <div class="G1_formText">
                <div class="G1_textLoginL">

                    <h1>Login</h1>
                </div>
                <form class="G1_form_Login" onSubmit={(event)>
                    <div class="G1_inputLabel">
                        
                        <input type="text" name="RP" placeholder="Digite seu RP" />
                        <label for="CPF">Digite aqui seu ID</label>
                    </div>

                    <div class="G1_inputLabel">
                        <input type="password" name="senha" placeholder="Digite sua senha" />
                        <label for="senha">Digite aqui sua senha</label>
                    </div>
                    <div class="G1_buttonsLogin">
                        <button type="submit">Entrar</button>
                    </div>

                </form>
            </div>

        </div>
    </main>

